/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.docBtn {
  background-color: var(--ifm-color-primary-darkest);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.heroTopContainer {
  display: flex;
  flex-direction: row;
}


.heroTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.imgHeader {
  width: 700px;
  height: auto;
  max-width: 50%;
}

.heroTitle {
  text-align: left !important;
}

.heroSubtitle {
  text-align: left !important;
}


@media screen and (max-width: 996px) {
  .heroTitle {
    text-align: center !important;
  }
  .heroSubtitle {
      text-align: center !important;
  }
  .heroTopContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgHeader {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
  .heroTextContainer {
    margin: 0rem 2rem;
  }
}

@media screen and (max-width: 300px) {
  .imgHeader {
    display: none !important;
  }
}
