<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesCodeSigningCertificate</key>
    <string>-----BEGIN CERTIFICATE-----&#xD;
MIIC3TCCAcWgAwIBAgIJJHg0XHu9/XeLMA0GCSqGSIb3DQEBCwUAMBgxFjAUBgNV&#xD;
BAMTDUV4cG8gT3BlbiBPVEEwHhcNMjUwNDE0MTQyMDMwWhcNMzUwNDE0MTQyMDMw&#xD;
WjAYMRYwFAYDVQQDEw1FeHBvIE9wZW4gT1RBMIIBIjANBgkqhkiG9w0BAQEFAAOC&#xD;
AQ8AMIIBCgKCAQEA0+PP6YZ5QoMp6p/lxXGn/tTQVSBnryyySJ0eEpcRQ0qBp39s&#xD;
r+ECn+kIDnb+4G4+8o2pNrpJTZJ3xgkyOBBPKOPmPE44sc7F7jXSFYpDWxkVYL5s&#xD;
jFZ8be91LGNB+bUXncYX+LHo812lXZUuux+B9t+S4A40p/bQpkDmpm3pdrIbORa1&#xD;
+ynIxH3IFWWIY2xI5xKNbd1cObE8EeamZrVmKLPdQniVx+TV3n6pDVBv1EI4Nu5D&#xD;
VciGU9dlN4HKvgsrpjmrLoJsqZkw+nP128Z2rlQqI+Q/Vq17sYQxScyI4ICuDLQj&#xD;
fOYE2dB6EHpiKVdndI8K7V6MULbmBqCsc592EQIDAQABoyowKDAOBgNVHQ8BAf8E&#xD;
BAMCB4AwFgYDVR0lAQH/BAwwCgYIKwYBBQUHAwMwDQYJKoZIhvcNAQELBQADggEB&#xD;
ACBM0B+/2vVFQa57nDFPlrEHmM4s6pw4dhCMz5KVFj7RkCD3B5a+iXwn2ZX+FWU7&#xD;
wCw4pVwhEusTP4KgyMihMwMwVRjXRcYm1MGSsLeHXZDQGOF9vVT/ZfZ0dvVEtcmN&#xD;
XBn9d0xHOLUuIFE9vezRDDfy7Su9jw2vciMevaNOyc/5KCMb/4ASMRtN66ZKZ9UK&#xD;
Zke2PQCKBzCVSO8e0ieEar4F8rXrbTPnwkcF8sQkOEZE9hm8WUHiCw2OZsOLwhpB&#xD;
CkQ7NOTv6hLFkmzaz/l5Oa1TLD9igT/iK6ardegwol62jA/M47s8z9nJZO0A3D3P&#xD;
YIX3NtCPzLNSC17h5lcDoPI=&#xD;
-----END CERTIFICATE-----&#xD;
</string>
    <key>EXUpdatesCodeSigningMetadata</key>
    <dict>
      <key>keyid</key>
      <string>main</string>
      <key>alg</key>
      <string>rsa-v1_5-sha256</string>
    </dict>
    <key>EXUpdatesDisableAntiBrickingMeasures</key>
    <true/>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>0</integer>
    <key>EXUpdatesRequestHeaders</key>
    <dict>
      <key>expo-channel-name</key>
      <string>production</string>
    </dict>
    <key>EXUpdatesRuntimeVersion</key>
    <string>1.0.0</string>
    <key>EXUpdatesURL</key>
    <string>http://localhost:3000/manifest</string>
  </dict>
</plist>