{
  "parser": "typescript",
  "arrowParens": "avoid",
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "auto"
}
